#!/bin/sh

#
# Do below to use this setup
#
# mkdir -p ~/.config/shell-profile/ && cd ~/.config/shell-profile/
# mv -v .xprofile .xprofile_original
# wget https://raw.githubusercontent.com/andrewchelladurai/configs/master/.xprofile
# ln -s ~/.config/shell-profile/.xprofile ~/.xprofile
# Restart Xsession for changes to take effect 
#

export _JAVA_AWT_WM_NONREPARENTING=1

[[ -f ~/.bash_profile ]] && . ~/.bash_profile

